body {
	font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	height: 100vh;
}

h1 {
	font-size: 73px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: -0.002em;
}

h2 {
	margin-top: -24px;
	font-size: 44px;
	font-weight: 400;
	line-height: 53px;
	letter-spacing: -0.0275em;
	text-align: center;
}

p {
	font-size: 20px;
	font-weight: 400;
	color: inherit;
	line-height: 32px;
	letter-spacing: 0.002em;
	box-sizing: border-box;
	padding: 30px;
}
a {
	color: inherit;
}

.bg	{
	width: 100vw;
	height: 100vh;
	background: url("../img/desk.jpg");
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	z-index: -10;
	filter: saturate(135%) blur(50px);
	transform: scale(1.2);
	transition: all 500ms ease-in-out;
}
header {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	text-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.empty {
	height: 30vh;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50vw;
	min-width: 200px;
	position: absolute;
	top: 20px;
	left: 25vw;
	margin: 0 auto;
	color: white;
	font-size: 56px;
	a {
		transition: all 100ms ease-in-out;
		&:hover {
			transform: scale(1.4)
		}
	}
}
article {
	background: white;
	width: 100vw;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	padding-bottom: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	section {
		box-sizing: border-box;
		padding: 20px;
	}
	.download {
		a.download {
			background: rgb(0,122,255);
			padding: 20px;
			padding-right: 100px;
			padding-left: 100px;
			color: white;
			text-decoration: none;
			border-radius: 10px;
			&:hover {
				background: #4286f4;
			}
		}
	}
}
footer {
	width: 100vw;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 0 0 20px rgba(0, 0, 0, .5);
	.year {
		margin: 5px;
	}
}
